<div class="panel right">
    <h1>New to Rage Rant?</h1>
    <p>
    <form>
        <input type="submit" >
    </form>
    </p>
</div>
<div class="panel left">
    <h1>Your Rage Page</h1>
    <div>
        <span class="name"><%= @user.name %></span> @<%= @user.username %>
        <p>
        XX Rants
        <span class="spacing">XX Followers</span>
        <span class="spacing">XX Following</span>
        </p>
    </div>
</div>
<div class="panel left">
    <h1>Your Rants</h1>
    <div>
        Rants coming . . .
    </div>
</div>
