/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *

 */
 @import "bootstrap-sprockets";
 @import "bootstrap";


 *{
   font-family: Verdana;
 }

 .jumbotron {
    background-image:url(image_path('yelling.jpg'));
    background-size: 120% 120%;
    height: 80vh;
    text-align: right;
    position:relative;
    padding: 10px;
 }

 .jumbotron #title{
   font-size: 75px;
   color: white;
   position: absolute;
   font-style: oblique;
 }

 .posts {
   padding-left:50px;
   text-align: left;
 }
 #header{
   text-align:center;
 }

 .panel_left{

 }

 .panel_right{

 }
